<form #form="ngForm" (ngSubmit)="onSubmit" class="container">
    <div class="row">
        <div class="col-12">
            <mat-form-field class="fil-col">
                <mat-label >nome</mat-label>
                 <input matInput name="name" id="name" #nameModel="ngModel" [(ngModel)]="client.name" required>
                 @if (nameModel.hasError("required")){
                    <mat-error>
                        Informe o Nome Do Cliente
                    </mat-error>
                 }
                 
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field class="fil-col">
                    <mat-label >E-mail</mat-label>
                    <input matInput name="Email" id="email" #emailModel="ngModel" [(ngModel)]="client.email" required>
                    @if (nameModel.hasError("required") || nameModel.hasError("email")){
                        <mat-error>
                            Informe o Email Do Cliente
                        </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="fil-col">
                    <mat-label >E-mail</mat-label>
                    <input matInput name="phone" id="phone" #phoneModel="ngModel" [(ngModel)]="client.phone" required mask="(00) 00000-0000">
                    @if (nameModel.hasError("required") || nameModel.hasError("mask")){
                        <mat-error>
                            Informe o celular Do Cliente
                        </mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col div-button">
                <button type="submit" mat-flat-button [disabled]="form.invalid">Salvar</button>
            </div>
        </div>
    </div>
</form>